@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="content centered">
        <div class="px-4">
            <h1>Simulacrum</h1>
            @Body
        </div>
    </main>
</div>

@code {

}
