@inherits LayoutComponentBase
<center>

    <div class="page bg-dark text-light">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <h1>Simulacrum</h1>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</center>

@code {

}
