@inject ISimulationProvider _simulationProvider

@page "/survivor"
@using SimulacrumSharp.Razor.Components

<h1>Survivor Simulator</h1>

<p>Welcome to the Survivor simulator!</p>

<button class="btn btn-primary" @onclick="SimulateSeason">Survivors ready? Go!</button>

<p>@result</p>

@code {
    private string result = string.Empty;

    private void SimulateSeason()
    {
        result = _simulationProvider.GetSimulation<SurvivorSeason>(new SimulationRequest<SurvivorSeason>());
    }
}
